[submodule ".vim/bundle/nerdttree"]
	path = .vim/bundle/nerdttree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-css-color"]
	path = .vim/bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = https://github.com/chrismetcalf/vim-json.git
[submodule ".vim/bundle/vim-session"]
	path = .vim/bundle/vim-session
	url = https://github.com/xolox/vim-session.git
