[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/minibufexpl.vim"]
	path = .vim/bundle/minibufexpl.vim 
	url = https://github.com/vim-scripts/minibufexpl.vim.git
[submodule ".vim/bundle/nerdttree"]
	path = .vim/bundle/nerdttree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-css-color"]
	path = .vim/bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = https://github.com/chrismetcalf/vim-json.git
[submodule ".vim/bundle/vim-session"]
	path = .vim/bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule ".vim/bundle/phpLint"]
	path = .vim/bundle/phpLint
	url = https://github.com/markbiek/phpLint.vim.git
[submodule ".vim/bundle/phpErrorMarker"]
	path = .vim/bundle/phpErrorMarker
	url = https://github.com/vim-scripts/phpErrorMarker.git
